*{
	box-sizing: border-box;
}

/***** html *****/
body{
	margin: 0;
	padding: 0;
	font-family: "Quicksand";
	color: #e0e8ed;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent
}
div{font-size: 20px}
a{color: #e0e8ed;text-decoration: none}
a:hover{text-decoration: underline;}
button{
	border-style: none;
	outline: none;
	cursor: pointer
}
header{
	width: 100%;
	height: 200px;
	margin: 0 0 15px 0;
	padding: 60px 0 60px 0;
	text-align: center;
	box-shadow: 0 0 10px #000000, 0 0 10px #292f33
}
footer{
	margin-top: 15px;
	padding: 40px;
	font-size: 15px;
	text-align: center;
	box-shadow: 0 0 10px #292f33, 0 0 10px #292f33
}
img{max-width: 100%;height: auto}

/***** class *****/
::-webkit-scrollbar{width: 10px}
::-webkit-scrollbar-track{background-color: #1e2428}
::-webkit-scrollbar-thumb{background-color: #292f33}
.row::after {
	content: "";
	display: block;
	clear: both
}
.content{padding: 0 20px 0 20px}
.content2{padding: 0 30px 0 30px}
.bcolor1{background-color: #292f33}
.bcolor2{background-color: #1e2428}
.bcolor3{background-color: #0e1518}
.grad1{background-image:linear-gradient(#0e1518, 50%, #292f33)}
.grad2{background-image:linear-gradient(#292f33, 50%, #0e1518)}
.box,.box2,.box3{
	float: left;
	padding: 15px;
	line-height: 30px;
	text-shadow: 0 0 3px black
}
.box{width: 50%}
.box div{padding: 10px}
.box2{
	width: 50%;
	height: 500px;
	overflow: auto
}
.box3{width: 100%}
.bd{
	text-align: center;
	border: solid 2px #1e2428;
	margin: 5px;
	padding: 15px
}
.tw{padding: 0;text-align: center}

/**** media ***/
@media (max-width: 720px){
	.box2{width: 100%}
	.box2{height: auto;overflow:hidden}
  	.box{width: 100%}
  	.content{padding: 0}
	.content2{padding: 5px}
}
@media (max-width: 512px){
  	.box{padding: 0 0 10px 0}
	.content2{padding: 0}
	div{font-size: 18px}
}
